<html>

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <style>
        {#asset styles.css @encoding=utf8}
    </style>
</head>

<body>
    <section id="heading">
        <p></p>
    </section>

    <section id="body">
        <p>A contraer matrimonio con {{dataSc.p_nombre}} {{dataSc.s_nombre}}, cédula de de identidad
            {{dataSc.cedula}}
        </p>
    </section>

</body>


</html>